@{
    ViewBag.Title = "Site list";
}

<div class="jumbotron">
    <h1>Site list</h1>

    <ul class="list-group">
        @foreach (var site in Model)
        {
            <li class="list-group-item">@site</li>
        }
    </ul>
</div>

<form action="" method="post" enctype="multipart/form-data">
    <label for="file">Upload new PublishSettings file:</label>
    <input type="file" name="file" id="file" />
    <input type="submit" />
</form>
