@{
    ViewBag.Title = "Site list";
}

<div class="jumbotron">
    <h1>Site list</h1>

    <ul class="list-group">
        @foreach (var site in Model)
        {
            <li class="list-group-item">@site</li>
        }
    </ul>
</div>
